@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}
 li, button{
	 font-family: "Montserrat",sans-serif;
	 font-size: 16px;
	 font-weight: 500;
	 color: white;
	 text-decoration: none;

 }
 header{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 30px 10%;
 }
 .logo{
	 cursor: pointer;
 }
 .nav__links{
	 list-style: none;
	 position: absolute;
	 right: 20px;
}
.nav__links li{
	display: inline-block;
	padding: 0 20px;
}
.nav__links li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
}
.nav__links li a:hover {
	color: rgb(120, 120, 131);

}
button{
	padding: 9px 25px;
	background-color: rgb(0, 0, 0);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover{

	background-color: rgba(114, 123, 126, 0.8);
}
.container {
	position: absolute;
	z-index: -3200;
	width: 100%;
	height: 50px;
}
.container .nowfit{
	position: absolute;
	top: 150px;
	margin-left: 480px;
}
.container .nowfit h1{
	font-size: 70px;
	position: relative;
	margin-bottom: 9px;
	font-weight: 800;
	color: #030f12;
	letter-spacing: -1px;
	/* text-align: center; */
}
.container .nowfit span{
	font-size: 24px;
    position: absolute;
    margin-top: -4px;
    left: 20px;
    font-weight: 400;
    line-height: 1.45;
    color: #707579;
    margin-bottom: 10px;
}
.Search_search__3w4pr .Search_search_box__3B4bL{
	-webkit-transition: .15s cubic-bezier(.215,.61,.355,1);
	transition: .15s cubic-bezier(.215,.61,.355,1);
	display: flex;
	align-items: center;
	background: #f7f7f7;
	border-radius: 50px;
	border: 1px solid rgba(255,50,139,.4);
	padding: 10px 20px;
	border-radius: 7px;
	height: 59px;
	/* line-height: 56px; */
	box-shadow: 0 0 0 4px rgb(255 50 139/ 8%);
}
.Search_search__3w4pr .Search_search_box__3B4bL .Search_search_icon__awInQ i{
	font-size: 30px;
	color: #403636;
	background-color: #f7f7f7;
}
.bx{
	font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.Search_search__3w4pr .Search_search_box__3B4bL .Search_search_input__t4lg3{
	flex: 1 1;
	outline: none;
	background-color: #f7f7f7;
}
.Search_search__3w4pr .Search_search_box__3B4bL .Search_search_input__t4lg3 input{
	width: 100%;
	height: 56px;
	line-height: 56px;
	outline: none;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	font-size: 21px;
	font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.Search_search__3w4pr .Search_search_box__3B4bL .Search_search_icon__awInQ a{
	font-size: 30px;
	color: #403636;
	background-color: #f7f7f7;
	text-decoration: none;
}

.Search_search__3w4pr .Search_search_box__3B4bL .Search_search_input__t4lg3 input:hover Search_search_box__3B4bL{
	opacity: 0.7;
	
}
.container .checkbox{
	position: absolute;
}
.container .checkbox img{
	padding: 10px;
} 
.container .anhnen img{
	position: absolute;
	left: 74px;
	width: 100px;
	margin-left: 297px;
	top: 127px;
	transform: rotate(25deg);
}
.Search_search_input__t4lg3 input:hover Search_search_box__3B4bL{
	border: 1px solid rgba(0, 0, 0, 0.4) ;
}
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	/* background: #11101d; */
	z-index: 100;
	transition: all 0.5s ease;
	}
  .sidebar.close{
	width: 78px;
  }
  .sidebar .logo-details{
	height: 69px;
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	align-items: center;
	}
  .sidebar .logo-details i{
	font-size: 30px;
	color: #fff;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links{
	background-color: #fafafa;
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: auto;
	}
  .sidebar.close .nav-links{
	overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
	display: none;
  }
  .sidebar .nav-links li{
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
	background: #d2cfe8;
  }
  .sidebar .nav-links li .iocn-link{
	display: flex;
	margin-left: 16px;
	align-items: center;
	justify-content: space-between;
	}
  .sidebar.close .nav-links li .iocn-link{
	display: block
  }
  .sidebar .nav-links li i{
	height: 54px;
	min-width: 89px;
	text-align: center;
	line-height: 50px;
	color: #000;
	font-size: 32px;
	cursor: pointer;
	transition: all 0.3s ease;
	}
  .sidebar .nav-links li.showMenu i.arrow{
	transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
	display: none;
  }
  .sidebar .nav-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
	font-size: 18px;
	font-weight: 400;
	color: #000;
	transition: all 0.4s ease;
	}
  .sidebar.close .nav-links li a .link_name{
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #fafafa;
	display: none;
	}
  .sidebar .nav-links li.showMenu .sub-menu{
	display: block;
  }
  .sidebar .nav-links li .sub-menu a{
	color: #000;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.8;
	transition: all 0.3s ease;
	}
  .sidebar .nav-links li .sub-menu a:hover{
	opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
	display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
	font-size: 18px;
	opacity: 1;
	display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
	opacity: 1;
	pointer-events: auto;
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
	top: 50%;
	transform: translateY(-50%);
  }
  .sidebar .profile-details{
	position: fixed;
	bottom: 0;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	padding: 12px 0;
	transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
	background: none;
  }
  .sidebar.close .profile-details{
	width: 78px;
  }
  .sidebar .profile-details .profile-content{
	display: flex;
	align-items: center;
  }
  .sidebar .profile-details img{
	height: 52px;
	/* width: 52px; */
	/* object-fit: cover; */
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #1d1b31;
	transition: all 0.5s ease;
	}
  .sidebar.close .profile-details img{
	/* padding: 10px; */
	}
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
	display: none;
  }
  .sidebar .profile-details .job{
	font-size: 12px;
  }
  .home-section{
	position: relative;
	/* background: #E4E9F7; */
	height: 100vh;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
	
	}
.home-section .home-content{
		height: 60px;
		display: flex;
		align-items: center;
		background-color: #fafafa;
		}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
		color: #11101d;
		font-size: 35px;
		
	  }
.home-section .home-content .bx-menu{
		margin: 0 15px;
		cursor: pointer;
		
	  }
.home-section .home-content .text{
		font-size: 26px;
		font-weight: 600;
	  }
.sidebar.close ~ .home-section{
	left: 78px;
	width: calc(100% - 78px);
  }
  @media (max-width: 420px) {
	.sidebar.close .nav-links li .sub-menu{
	  display: none;
	}
  }
  .sidebar .nav-links li .iocn-link img{
	  width: 38px;
	  margin-left: 120px;
	  margin: 12px;
	 }






























