body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbarSupportedContent {
    padding-left: 900px;
}

.banner-image {
    background-image: url('../img/banner-img.jpg');
    background-size: cover;
}