body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbarSupportedContent {
    padding-left: 900px;
}

.banner-image {
    background-image: url('../images/banner-img.jpg');
    background-size: cover;
}

main {
    /* background-image: url('../img/blog.png'); */
    width: 100%;
    height: 100%;
    height: 900px;
}

form {
    padding-top: 200px;
    padding-left: 600px;
    padding-right: 600px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34
}

button {
    padding-left: 700px;
}

#facebook ._-kb div {
    font-family: inherit;
}

.l9j0dhe7 {
    position: relative;
}

.k4urcfbm {
    width: 100%;
}

.j83agx80 {
    display: flex;
}

._6s5d {
    background-color: var(--web-wash);
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
}

element.style {
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
}

#facebook ._-kb div {
    font-family: inherit;
}

.stjgntxs {
    overflow-y: hidden;
}

.l9j0dhe7 {
    position: relative;
}

.qmfd67dx {
    max-width: 500px;
}

.oygrvhab {
    margin-bottom: 0;
}

.oh7imozk {
    width: 500px;
}

.kvgmc6g5 {
    margin-top: 0;
}

.f9o22wc5 {
    margin-left: auto;
}

.ad2k81qe {
    margin-right: auto;
}

div {
    display: block;
}

.l9j0dhe7 {
    position: relative;
}

.k4urcfbm {
    width: 100%;
}

.j83agx80 {
    display: flex;
}

#facebook ._-kb div {
    font-family: inherit;
}

.pybr56ya {
    padding-top: 12px;
}

.osnr6wyh {
    padding-bottom: 10px;
}

.lhclo0ds {
    flex-wrap: wrap;
}

.j83agx80 {
    display: flex;
}

.hv4rvrfc {
    padding-right: 16px;
}

.dati1w0a {
    padding-left: 16px;
}

.bp9cbjyn {
    align-items: center;
}

#facebook ._-kb div {
    font-family: inherit;
}

.ll8tlv6m {
    align-items: flex-start;
}

.k4urcfbm {
    width: 100%;
}

.j83agx80 {
    display: flex;
}

.g5gj957u {
    flex-shrink: 1;
}

.buofh1pr {
    flex-grow: 1;
}

#facebook ._-kb h1, #facebook ._-kb h2, #facebook ._-kb h3, #facebook ._-kb h4, #facebook ._-kb h5, #facebook ._-kb h6, #facebook ._-kb p {
    font-family: inherit;
}

.rfua0xdk {
    width: 1px;
}

.q45zohi1 {
    clip: rect(0, 0, 0, 0);
}

.pmk7jnqg {
    position: absolute;
}

.p1ri9a11 {
    font-weight: inherit;
}

.l94mrbxd {
    font-size: inherit;
}

.gmql0nx0 {
    color: inherit;
}

.ema1e40h {
    clip-path: inset(50%);
}

.ay7djpcl {
    height: 1px;
}

.pfx3uekm {
    overflow: hidden;
}

.lzcic4wl {
    outline: none;
}

#facebook ._-kb div {
    font-family: inherit;
}

.tw6a2znq {
    padding-left: 12px;
}

.sj5x9vvc {
    padding-bottom: 8px;
}

.rq0escxv {
    box-sizing: border-box;
}

.oygrvhab {
    margin-bottom: 0;
}

.orhb3f3m {
    border-top-left-radius: 20px;
}

.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}

.nhd2j8a9 {
    cursor: pointer;
}

.l9j0dhe7 {
    position: relative;
}

.kvgmc6g5 {
    margin-top: 0;
}

.kbf60n1y {
    min-height: 40px;
}

.jifvfom9 {
    justify-content: flex-start;
}

.j83agx80 {
    display: flex;
}

.idiwt2bm {
    height: auto;
}

.i1ao9s8h {
    text-align: inherit;
}

.hcukyx3x {
    margin-left: 0;
}

.fmqxjp7s {
    border-bottom-right-radius: 20px;
}

.f1sip0of {
    touch-action: manipulation;
}

.emzo65vh {
    border-bottom-left-radius: 20px;
}

.d1544ag0 {
    padding-right: 12px;
}

.czkt41v7 {
    border-top-right-radius: 20px;
}

.cxmmr5t8 {
    margin-right: 0;
}

.cxgpxx05 {
    padding-top: 8px;
}

.buofh1pr {
    flex-grow: 1;
}

.btwxx1t3 {
    flex-direction: row;
}

.bp9cbjyn {
    align-items: center;
}

.b3i9ofy5 {
    background-color: var(--comment-background);
}

/* .abiwlrkh {
    -webkit-user-select: none;
} */

.r7d6kgcz {
    border-left: 0;
}

.qu0x051f {
    border-top: 0;
}

.esr5mh6w {
    border-right: 0;
}

.e9989ue4 {
    border-bottom: 0;
}

.p7hjln8o {
    list-style: none;
}

.lzcic4wl {
    outline: none;
}

.esuyzwwr {
    text-decoration: none;
}

#facebook ._-kb div {
    font-family: inherit;
}

.qv66sw1b {
    word-break: break-word;
}

.m9osqain {
    color: var(--secondary-text);
}

.k4urcfbm {
    width: 100%;
}

.jm1wdb64 {
    word-wrap: break-word;
}

.gy2v8mqq {
    hyphens: auto;
}

.a5q79mjw {
    font-size: 1.0625rem;
}

div {
    display: block;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}

.nhd2j8a9 {
    cursor: pointer;
}
.i1ao9s8h {
    text-align: inherit;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.p7hjln8o {
    list-style: none;
}
.esuyzwwr {
    text-decoration: none;
}
#facebook ._-kb span {
    font-family: inherit;
}
.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}
.l9j0dhe7 {
    position: relative;
}
.a8c37x1j {
    display: block;
}
.qv66sw1b {
    word-break: break-word;
}
.m9osqain {
    color: var(--secondary-text);
}
.jm1wdb64 {
    word-wrap: break-word;
}
.gy2v8mqq {
    hyphens: auto;
}
.a5q79mjw {
    font-size: 1.0625rem;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.i1ao9s8h {
    text-align: inherit;
}
.abiwlrkh {
    /* -webkit-user-select: none; */
}
.p7hjln8o {
    list-style: none;
}