.login{
    width: 360px;
    height: 350px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 1px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.login h1{
    color:#868787;
    font-family: sans-serif;
}
.login input{
    border: 1px solid rgb(218, 215, 215);
    width: 280px;
    height: 30px;
    margin-bottom: 5px;
}   
::-webkit-input-placeholder{
    font-size: 12px;
}
.login button{
    width: 280px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    color: white;
    background-color: rgb(47, 193, 219);
}
.login h5{
    margin-top: 7px;
    color: rgb(153, 145, 145);
}
.icon-facebook{
    width: 40px;
    padding-right: 5px;
}
.icon-google{
    width: 41px;
    padding-right: 5px;
}
.icon-zalo{
    width: 40px;
    padding-right: 5px;
}
.icon-instagram{
    width: 40px;
}
.signin{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-top: 12px;
    width: 360px;
    height: 50px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 1px;
    text-align: center;
}
.signin p{
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    margin: 15px;
    text-align: center
}
.login-locate{
    margin-left: 750px;
    margin-bottom: 300px;
}
.anhnen{
    position:absolute;
    left: 100px;
    top: 100px;
    height: 400px;
}
.login-locate{
    position:absolute;
    top: 100px;
}